@import url('https://fonts.cdnfonts.com/css/rambla');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rambla', sans-serif;                                          
}